/////////////
// COLOURS //
/////////////
$axis-width: 50px;
$axis-height: 30px;

$axis-color: $grey--light;
$axis-text-size: 16px;
$gridline-color: $grey;

$data-color: $grey--light;

$tooltip-color: $white;
$tooltip-bg: $black;

$point-tooltip-size: 15px;

///////////////
// Z-INDICES //
///////////////
$z-gridline: 1;
$z-axis: 2;
$z-data: 3;
$z-legend: 4;

.chart {
	position: relative;
	width: 100%;
}

.chart__title {
	display: block;
	font-weight: bold;
	text-align: center;

	padding: 10px 20px;
}

.chart__area {
	position: relative;

	width: 100%;
	padding-top: calc(56.25% - 40px);
	@include bp("md") {
		padding-top: 50%;
	}
}

//////////
// AXES //
//////////
.chart__axis--v {
	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;
	align-items: center;

	position: absolute;
	z-index: $z-axis;
	left: 0;
	bottom: $axis-height;
	top: $axis-text-size;
	width: $axis-width;

	margin: 0;
	padding: 0;
	list-style: none;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right: -1px;
		border-right: 1px solid $axis-color;
	}

	.chart__axis-item {
		position: absolute;
		text-align: right;
		width: 100%;

		display: flex;
		align-items: center;
	}

	.chart__axis-label {
		display: block;
		width: 100%;
		padding: 0 10px 0 0;

		font-size: $axis-text-size;
		line-height: $axis-text-size;

		transform: translateY(50%);
	}
}

.chart__axis--h {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	position: absolute;
	z-index: $z-axis;
	left: $axis-width;
	bottom: 0;
	right: 0;
	height: $axis-height;

	margin: 0;
	padding: 0;
	list-style: none;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: -1px;
		border-top: 1px solid $axis-color;
	}

	.chart__axis-item {
		position: absolute;
		text-align: center;
	}

	.chart__axis-label {
		display: block;
		position: absolute;
		transform: translateX(-50%);
		padding: 10px 0 0;

		font-size: $axis-text-size;
		line-height: $axis-text-size;
	}
}

///////////////
// GRIDLINES //
///////////////
.chart__gridlines--h,
.chart__gridlines--v {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	z-index: $z-gridline;
	left: $axis-width;
	bottom: $axis-height;
	top: $axis-text-size;
	right: 0;

	margin: 0;
	padding: 0;
	list-style: none;
}

.chart__gridlines--h {
	flex-direction: column-reverse;

	.chart__gridlines-item {
		position: absolute;
		left: 1px;
		right: 1px;
		border-top: 1px solid $gridline-color;
	}
}

.chart__gridlines--v {

	.chart__gridlines-item {
		position: absolute;
		top: 1px;
		bottom: 1px;
		border-right: 1px solid $gridline-color;
	}
}

////////////
// LEGEND //
////////////
.chart__legend {
	z-index: $z-legend;

	margin: 0;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.chart__legend-name {
	float: left;

	width: calc(100% - #{$axis-text-size});
	padding-left: $axis-text-size / 2;
	margin-bottom: $axis-text-size / 2;
}

.chart__legend-indicator {
	clear: left;
	float: left;
	margin: 0;
	background: $data-color;
	border: 1px solid $black;

	width: $axis-text-size;
	height: $axis-text-size;
	margin-bottom: $axis-text-size / 2;
}

//////////
// BARS //
//////////
.chart__bars--v,
.chart__bars--h {
	display: flex;
	justify-content: space-bweten;

	position: absolute;
	z-index: $z-data;
	left: $axis-width + 1;
	right: 0;
	bottom: $axis-height + 1;
	top: $axis-text-size;

	margin: 0;
	padding: 0;
	list-style: none;

	.chart__bar {
		position: relative;
		flex: 1 1 0%;
		height: 100%;
		display: flex;
	}

	.chart__bar-area {
		position: relative;
		background: $data-color;

		cursor: pointer;
		&:hover,
		&:focus,
		.show-tooltips & {
			outline: none;
			.chart__bar-tooltip {
				display: block;
			}
		}
		.show-tooltips & {
			cursor: default;
			cursor: unset;
		}

		&.is-selected {
			&:after {
				content: "";

				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;

				background: rgba($white, 0.2);
			}
		}
	}

	.chart__bar-tooltip {
		display: none;
		position: absolute;
		z-index: 1;

		padding: 5px;
		background: $tooltip-bg;
		color: $tooltip-color;
	}
}

.chart__bars--v {

	.chart__bar {
		align-items: flex-end;
	}

	.chart__bar-area {
		width: 80%;
		margin: 0 auto;

		transition: height 0.5s;
		// height
	}
	&.chart__bars--histogram .chart__bar-area {
		width: 100%;
	}

	.chart__bar-label {
		position: absolute;
		bottom: 0;
		left: 50%;

		transform: translateY(100%) translateX(-50%);
		padding: 10px 5px 0;

		min-width: 100%;
		text-align: center;
	}

	.chart__bar-tooltip {
		top: -5px;
		left: 50%;
		transform: translateX(-50%) translateY(-100%);
	}
}

.chart__bars--h {
	flex-direction: column;

	.chart__bar {
		width: 100%;
		align-items: center;
	}

	.chart__bar-area {
		height: 80%;

		transition: width 0.5s;
		// width
	}
	&.chart__bars--histogram .chart__bar-area {
		height: 100%;
	}

	.chart__bar-label {
		position: absolute;
		top: 50%;
		right: 100%;
		max-width: $axis-width;

		transform: translateY(-50%);
		padding-right: 10px;
	}

	.chart__bar-tooltip {
		right: -5px;
		top: 50%;
		transform: translateY(-50%) translateX(100%);
	}
}

////////////
// POINTS //
////////////
.chart__points {
	position: absolute;
	z-index: $z-data;
	left: $axis-width + 1;
	right: 0;
	bottom: $axis-height + 1;
	top: $axis-text-size;

	margin: 0;
	padding: 0;
	list-style: none;
}

.chart__point {
	display: block;
	position: absolute;
	transform: translateX(-50%) translateY(50%);

	transition: all 0.5s;
	// bottom
	// left

	width: 8px;
	height: 8px;
	border-radius: 50%;

	border: 2px solid $data-color;
}

//////////
// LINE //
//////////
.chart__lines-wrapper {
	position: absolute;
	z-index: $z-data;
	left: $axis-width + 1;
	right: 0;
	bottom: $axis-height + 1;
	top: $axis-text-size;
}

.chart__lines {
	// <svg viewbox="0 0 100 100" preserveAspectRatio="none">
	height: 100%;
	width: 100%;
}

// <g transform="translate(0, 100) scale(1, -1)">

.chart__line {
	// polyline
	fill: none;
	vector-effect: non-scaling-stroke;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke: $data-color;

	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	// points
}

////////////////////
// POINT TOOLTIPS //
////////////////////
.chart__point-tooltips {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chart__point-tooltip {
	position: absolute;
	transform: translate(-50%, 50%);

	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;

	transition: all 0.3s;
	&:hover,
	&:focus {
		width: $point-tooltip-size;
		height: $point-tooltip-size;
		outline: none;
	}
	&:hover {
		z-index: 1;
		// Appear above focus
	}

	&:before {
		// Used as initial hover/click area since
		// main element requires inline styling for colour
		content: "";
		cursor: pointer;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: block;
		width: $point-tooltip-size;
		height: $point-tooltip-size;
		border-radius: 50%;
	}
}

.chart__point-tooltip-body {
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%) translateY(-100%);

	display: none;
	.chart__point-tooltip:hover &,
	.chart__point-tooltip:focus & {
		display: block;
	}

	padding: 5px;
	background: $tooltip-bg;
	color: $tooltip-color;
}