.tabs {
	margin: -10px 0 0 -10px;
	padding: 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
}

.tabs__tab {
	flex: 1 1 50%;
	@include bp("md") {
		flex: 1 1 100%;
	}
	@include bp("l") {
		flex: 1 1 0;
	}
	padding: 10px 0 0 10px;
}

.tabs__tab--all {
	margin-top: 15px;
	@include bp("l") {
		margin-top: 0;
		margin-left: 40px;
	}
}

.tabs__input {
	position: absolute;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.tabs__display {
	@extend .button;

	.tabs__input:checked ~ & {
		background: $grey--light;
	}
}