<div class="chart">
	<span class="chart__title js-chart-title">{{title}}</span>

	<div class="chart__area">
		<ul class="chart__axis--h">
			{{#axisValues}}
				<li class="chart__axis-item js-chart-axis-label">
					<span class="chart__axis-label">{{displayValue}}</span>
				</li>
			{{/axisValues}}
		</ul>

		<ul class="chart__gridlines--v">
			{{#axisValues}}
				<li class="chart__gridlines-item"></li>
			{{/axisValues}}
		</ul>

		<ul class="chart__bars--h">
			{{#data}}
				<li class="chart__bar">
					<div class="chart__bar-area js-chart-bar" style="width: {{percentage}}%; background: {{colour}};" title="{{displayValue}}"></div>
					<span class="chart__bar-label">{{label}}</span>
				</li>
			{{/data}}
		</ul>
	</div>
</div>