.content {
	input, select, textarea {
		line-height: 1.5;
		padding: 3px 8px;
	}

	font-size: 18px;
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 28px;
	}
	h4 {
		font-size: 24px;
	}
	h5 {
		font-size: 22px;
	}
	h6 {
		font-size: 20px;
	}
}

.content p,
.p {
	display: block;
	margin: 20px 0;
}
.content > p,
.p {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.content:nth-child(n+2) {
	margin-top: 18px;
}
.content > p:last-child {
	margin-bottom: 18px;
}

.content a,
.a {
	cursor: pointer;
	color: var(--primary-color);
	text-decoration: none;

	$link-bg-height: 20%;

	background: linear-gradient(to top, var(--highlight-bar) 0%, var(--highlight-bar) $link-bg-height, transparent ($link-bg-height + 0.1%), transparent 100%);
	&:hover,
	&:focus {
		background: linear-gradient(to top, var(--highlight-bar-active) 0%, var(--highlight-bar-active) $link-bg-height, transparent ($link-bg-height + 0.1%), transparent 100%);
	}
}

.content blockquote,
.blockquote {
	display: block;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0 30px;

	&:before {
		content: "“";
		font-size: 60px;
		line-height: 1;

		position: absolute;
		top: 0;
		left: 0;
	}

	cite {
		&:before {
			content: "― ";
		}
	}
}

.content code,
.code {
	display: inline;

	@include contrast-offset;

	padding: 3px 7px;
	border-radius: 5px;
	font-family: monospace;
	white-space: pre-wrap;
	tab-size: 4;
	-moz-tab-size: 4;

	max-width: 100%;
	overflow: auto;

	&.tag {
		&::before {
			content: "<";
		}
		&::after {
			content: ">";
		}
	}
}
.content .code--block,
.code--block {
	display: block;
	min-height: 30px;
	padding: 0 7px;
	margin: 20px 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.code--output {
	opacity: 0.6;
}

.code__entry {
	display: block;
	&.table {
		margin: 3px 0;
		td, th {
			padding: 0 10px;
			border: 0;
			border-left: 1px solid var(--offset-border-low-contrast);
			&:first-child {
				border-left: 0;
			}
		}
		th {
			text-align: left;
			border-bottom: 1px solid var(--offset-border-low-contrast);
		}
	}
}

.content var,
.var {
	@extend .code;
}

.content kbd,
.kbd {
	display: inline-block;
	padding: 0 5px;
	border-radius: 5px;
	border: 1px solid var(--border);
	box-shadow: 0 2px 5px var(--shadow);
	font-family: monospace;
}

.content {
	ul, ol {
		padding-left: 20px;
		> li {
			margin: 9px 0;
		}
	}

	hr {
		margin: 36px 0;
		border: none;
		border-bottom: 1px solid var(--border);
	}

	h4 {
		margin-bottom: 0;
		+ p,
		+ .p {
			margin-top: 0;
		}
	}

	table {
		display: block;
		width: 100%;
		overflow: auto;

		border-collapse: collapse;

		th, td {
			padding: 0 5px;
			border: 1px solid var(--border);
		}
	}
}
