.chart {
  position: relative;
  width: 100%; }

.chart--has-x-label {
  padding-bottom: 40px; }
  @media (min-width: 768px) {
    .chart--has-x-label {
      padding-bottom: 32px; } }

.chart--has-y-label {
  padding-left: 10px; }
  @media (min-width: 768px) {
    .chart--has-y-label {
      padding-left: 32px; } }

.chart__title {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px; }

.chart__area {
  position: relative;
  width: 100%;
  padding-top: calc(56.25% - 40px); }
  @media (min-width: 768px) {
    .chart__area {
      padding-top: 50%; } }

.chart__axis--v {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 30px;
  top: 16px;
  width: 50px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .chart__axis--v:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    border-right: 1px solid #999; }
  .chart__axis--v .chart__axis-item {
    position: absolute;
    text-align: right;
    width: 100%;
    display: flex;
    align-items: center; }
  .chart__axis--v .chart__axis-label {
    display: block;
    width: 100%;
    padding: 0 10px 0 0;
    font-size: 16px;
    line-height: 16px;
    transform: translateY(50%); }

.chart__axis--h {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  z-index: 2;
  left: 50px;
  bottom: 0;
  right: 0;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .chart__axis--h:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    border-top: 1px solid #999; }
  .chart__axis--h .chart__axis-item {
    position: absolute;
    text-align: center; }
  .chart__axis--h .chart__axis-label {
    display: block;
    position: absolute;
    transform: translateX(-50%);
    padding: 10px 0 0;
    font-size: 16px;
    line-height: 16px; }

.chart__axis--v-label {
  position: absolute;
  top: calc(50% - 8px);
  transform-origin: 50% 50%;
  transform: translate(0, -50%) rotate(-90deg);
  margin-left: -3em;
  font-size: 10px;
  line-height: 1; }
  @media (min-width: 425px) {
    .chart__axis--v-label {
      font-size: 2.35vw; } }
  @media (min-width: 768px) {
    .chart__axis--v-label {
      font-size: 16px; } }

.chart__axis--h-label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 10px;
  line-height: 1; }
  @media (min-width: 425px) {
    .chart__axis--h-label {
      font-size: 2.35vw; } }
  @media (min-width: 768px) {
    .chart__axis--h-label {
      font-size: 16px; } }

.chart__gridlines--h,
.chart__gridlines--v {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 50px;
  bottom: 30px;
  top: 16px;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none; }

.chart__gridlines--h {
  flex-direction: column-reverse; }
  .chart__gridlines--h .chart__gridlines-item {
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc; }

.chart__gridlines--v .chart__gridlines-item {
  position: absolute;
  top: -1px;
  bottom: 0;
  border-right: 1px solid #ccc; }

.chart__legend {
  z-index: 4;
  margin: 0; }
  .chart__legend:after {
    content: "";
    display: table;
    clear: both; }

.chart__legend-name {
  float: left;
  width: calc(100% - 16px);
  padding-left: 8px;
  margin-bottom: 8px;
  line-height: 1; }

.chart__legend-indicator {
  clear: left;
  float: left;
  margin: 0;
  background: #999;
  border: 1px solid #000;
  width: 16px;
  height: 16px;
  margin-bottom: 8px; }

.chart__bar-groups--v,
.chart__bar-groups--h {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  left: 51px;
  right: 0;
  bottom: 31px;
  top: 16px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .chart__bar-groups--v .chart__bar-group,
  .chart__bar-groups--h .chart__bar-group {
    position: relative;
    flex: 1 1 0%;
    height: 100%;
    display: flex; }
  .chart__bar-groups--v .chart__bar-group-bars,
  .chart__bar-groups--h .chart__bar-group-bars {
    padding: 0;
    width: 100%;
    display: flex; }
  .chart__bar-groups--v .chart__bar,
  .chart__bar-groups--h .chart__bar {
    position: relative;
    flex: 1 1 0%;
    height: 100%;
    display: flex; }
  .chart__bar-groups--v .chart__bar-area,
  .chart__bar-groups--h .chart__bar-area {
    position: relative;
    background: #999;
    cursor: pointer; }
    .chart__bar-groups--v .chart__bar-area:hover, .chart__bar-groups--v .chart__bar-area:focus,
    .show-tooltips .chart__bar-groups--v .chart__bar-area,
    .chart__bar-groups--h .chart__bar-area:hover,
    .chart__bar-groups--h .chart__bar-area:focus,
    .show-tooltips
    .chart__bar-groups--h .chart__bar-area {
      outline: none; }
      .chart__bar-groups--v .chart__bar-area:hover .chart__bar-tooltip, .chart__bar-groups--v .chart__bar-area:focus .chart__bar-tooltip,
      .show-tooltips .chart__bar-groups--v .chart__bar-area .chart__bar-tooltip,
      .chart__bar-groups--h .chart__bar-area:hover .chart__bar-tooltip,
      .chart__bar-groups--h .chart__bar-area:focus .chart__bar-tooltip,
      .show-tooltips
      .chart__bar-groups--h .chart__bar-area .chart__bar-tooltip {
        opacity: 1;
        pointer-events: auto; }
    .chart__bar-groups--v .chart__bar-area:focus,
    .chart__bar-groups--h .chart__bar-area:focus {
      box-shadow: inset 0 0 0 2px var(--shadow); }
    .show-tooltips .chart__bar-groups--v .chart__bar-area, .show-tooltips
    .chart__bar-groups--h .chart__bar-area {
      cursor: default;
      cursor: unset; }
    .chart__bar-groups--v .chart__bar-area.is-selected:after,
    .chart__bar-groups--h .chart__bar-area.is-selected:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.2); }
  .chart__bar-groups--v .chart__bar-tooltip,
  .chart__bar-groups--h .chart__bar-tooltip {
    opacity: 0;
    pointer-events: none;
    cursor: text;
    position: absolute;
    z-index: 1;
    padding: 0 6px;
    background: #000;
    border: 3px solid #000;
    color: #fff;
    text-align: center; }
    .chart__bar-groups--v .chart__bar-tooltip .chart-bar__tooltip-series,
    .chart__bar-groups--h .chart__bar-tooltip .chart-bar__tooltip-series {
      display: block;
      font-size: 12px; }
    .chart__bar-groups--v .chart__bar-tooltip .chart-bar__tooltip-label,
    .chart__bar-groups--h .chart__bar-tooltip .chart-bar__tooltip-label {
      display: block;
      font-size: 12px; }
    .chart__bar-groups--v .chart__bar-tooltip .chart-bar__tooltip-value,
    .chart__bar-groups--h .chart__bar-tooltip .chart-bar__tooltip-value {
      display: block; }

.chart__bar-groups--v .chart__bar-group-bars--stacked {
  flex-direction: column;
  justify-content: flex-end; }
  .chart__bar-groups--v .chart__bar-group-bars--stacked .chart__bar {
    flex-grow: 0; }
  .chart__bar-groups--v .chart__bar-group-bars--stacked .chart__bar-area {
    height: 100%; }

.chart__bar-groups--v .chart__bar {
  align-items: flex-end; }

.chart__bar-groups--v .chart__bar-area {
  width: 80%;
  margin: 0 auto;
  transition: height 0.5s; }

.chart__bar-groups--v.chart__bar-groups--histogram .chart__bar-area {
  width: 100%; }

.chart__bar-groups--v .chart__bar-label {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
  padding: 10px 5px 0;
  min-width: 100%;
  text-align: center; }

.chart__bar-groups--v .chart__bar-tooltip {
  top: -5px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%); }

.chart__bar-groups--h {
  flex-direction: column; }
  .chart__bar-groups--h .chart__bar-group-bars {
    flex-direction: column; }
  .chart__bar-groups--h .chart__bar-group-bars--stacked {
    flex-direction: row-reverse;
    justify-content: flex-end; }
    .chart__bar-groups--h .chart__bar-group-bars--stacked .chart__bar {
      flex-grow: 0; }
    .chart__bar-groups--h .chart__bar-group-bars--stacked .chart__bar-area {
      width: 100%; }
  .chart__bar-groups--h .chart__bar {
    width: 100%;
    align-items: center; }
  .chart__bar-groups--h .chart__bar-area {
    height: 80%;
    transition: width 0.5s; }
  .chart__bar-groups--h.chart__bar-groups--histogram .chart__bar-area {
    height: 100%; }
  .chart__bar-groups--h .chart__bar-label {
    position: absolute;
    top: 50%;
    right: 100%;
    max-width: 50px;
    transform: translateY(-50%);
    padding-right: 10px; }
  .chart__bar-groups--h .chart__bar-tooltip {
    top: 50%;
    left: 100%;
    transform: translateX(5px) translateY(-50%); }

.chart__points {
  position: absolute;
  z-index: 3;
  left: 51px;
  right: 0;
  bottom: 31px;
  top: 16px;
  margin: 0;
  padding: 0;
  list-style: none; }

.chart__point {
  display: block;
  position: absolute;
  transform: translateX(-50%) translateY(50%);
  transition: all 0.5s;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #999; }

.chart__lines-wrapper {
  position: absolute;
  z-index: 3;
  left: 51px;
  right: 0;
  bottom: 31px;
  top: 16px; }

.chart__lines {
  height: 100%;
  width: 100%; }

.chart__line {
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke-width: 3;
  stroke-linecap: round;
  stroke: #999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.chart__point-tooltips {
  margin: 0;
  padding: 0;
  list-style: none; }

.chart__point-tooltip {
  position: absolute;
  transform: translate(-50%, 50%);
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: all 0.3s; }
  .chart__point-tooltip:hover, .chart__point-tooltip:focus {
    width: 15px;
    height: 15px;
    outline: none; }
  .chart__point-tooltip:hover {
    z-index: 1; }
  .chart__point-tooltip:before {
    content: "";
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%; }

.chart__point-tooltip-body {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
  pointer-events: none;
  padding: 0 6px;
  background: #000;
  border: 3px solid #000;
  color: #fff;
  text-align: center; }
  .chart__point-tooltip:hover .chart__point-tooltip-body,
  .chart__point-tooltip:focus .chart__point-tooltip-body {
    opacity: 1;
    pointer-events: auto; }
  .chart__point-tooltip-body .chart-point__tooltip-series {
    display: block;
    font-size: 12px; }
  .chart__point-tooltip-body .chart-point__tooltip-label {
    display: block;
    font-size: 12px; }
  .chart__point-tooltip-body .chart-point__tooltip-value {
    display: block; }
