<div class="chart{{#showTooltips}} show-tooltips{{/showTooltips}} js-chart">
	<span class="chart__title js-chart-title">{{{title}}}</span>
	{{#showLegend}}
		<dl class="chart__legend{{#legendLeft}} chart__legend--left{{/legendLeft}}">
			{{#dataSeries}}
				<dd class="chart__legend-indicator" style="background-color: {{color}};"></dd>
				<dt class="chart__legend-name">{{name}}</dt>
			{{/dataSeries}}
		</dl>
	{{/showLegend}}

	<div class="chart__area">
		<ul class="chart__axis--h">
			{{#dependentAxis.values}}
				<li class="chart__axis-item js-chart-axis-label" style="left: {{percentage}}%;">
					<span class="chart__axis-label">{{displayValue}}</span>
				</li>
			{{/dependentAxis.values}}
		</ul>

		<ul class="chart__gridlines--v">
			{{#dependentAxis.gridlines}}
				<li class="chart__gridlines-item" style="left: {{percentage}}%;"></li>
			{{/dependentAxis.gridlines}}
		</ul>

		<ul class="chart__axis--v">
		</ul>

		<ul class="chart__bars--h{{#histogram}} chart__bars--histogram{{/histogram}}">
			{{#dataSeries}}
				{{#dataPoints}}
					<li class="chart__bar">
						<div class="chart__bar-area js-chart-bar" style="width: {{percentage}}%; background: {{color}};" title="{{displayValue}}" data-label="{{label}}" tabindex="-1">
							<span class="chart__bar-tooltip js-chart-tooltip">{{displayValue}}</span>
						</div>
						<span class="chart__bar-label">{{label}}</span>
					</li>
				{{/dataPoints}}
			{{/dataSeries}}
		</ul>
	</div>
</div>